
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap');

/* NAVIGATION BAR */

.navigation-bar{
  background-color: black;
  overflow: hidden;
}

.navigation-bar a {
  float: left;
  color: #A9A9A9;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
  background-color:white;
  color: red
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  background-color: black;
  color:red;
}



/* BODY */

img.img-responsive{
    z-index: 2;
    position: relative;
    margin-bottom: 10px;
}


.hidden{ display: none; }

h1 {
    font-family:'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}
p{
    font-family:'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

button  {

    

    background-color: black;
    color:white;
    border: 2px solid black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 30px;
    cursor: pointer;

}

/* Question 1 */
   
.question-1,
#option-question-2{
    margin-bottom: 50px;
    text-align: center;
}



#myform p{
    text-align: center;
    padding: 20px;


}

input[type=submit]{

    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

input[type=text]
{
    height: 100px;
    width: 90%;
    font-size:14pt;
    text-align:center;
    margin: 10px;
    margin-top: 20px;

}


img#gif { 

    width: 300px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border: solid black 2px;

}

/* CAROUSEL */


.special-hide{
   
   position: absolute ;
   left: -99999px;
   
}

.carousel{
    position: relative;
    height:400px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image{
width:100%;
height:100%;
object-fit: scale-down;
}

.carousel__track-container{
    background-color: white;
    height:100%;
    position: relative;
    overflow: hidden;
}

.carousel__track{
    padding:0;
    margin:0;
    list-style:none;
    position:relative;
    height:100%;
    transform: 250ms ease-in;
}

.carousel__slide{
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;

}

.carousel__button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:transparent;
    border: 0;
    cursor: pointer;
    padding: 0 !important;
    background-color: white;
}


.carousel__button--left{
    left: -40px;
    color:black !important;

}

.carousel__button--right{
    right: -40px;
    color:black !important;

}

.carousel__button img{
    width: 12px;
    color:black !important;
}

button.carousel__indicator{
    padding: 0 0 !important
}

.carousel__nav{
    display:flex;
    justify-content: center;
    padding:10px 0; 
}

.carousel__indicator{
    border:0;
    border-radius: 50%;
    width:15px;
    height:15px;
    background-color:rgba(0,0,0,.3);
    margin:0 12px;
}

.carousel__indicator.current-slide{
    background-color:rgba(0,0,0,.75);

}


/* NEXT BUTTON */


div#next {

    text-align:center;
}

#GratitudeButton{
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom:0px;
}



/* GRATITUDE LIST */


/* STYLING DROPDOWN */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #c065c0;
    width: 8rem;
    cursor: pointer;
    padding: 0.7rem;
}
.select::after{
    content: "\25bc";
    position: absolute;
    color: #c065c0;
    top: 7px;
    right: 6px;
    pointer-events: none;
}
.select:hover::after{
   color: #583429;
}

/* STYLING CONTAINER WHERE THE TASKS ARE SHOWN */
.gratitude_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gratitude_list{
    min-width: 40%;
    list-style: none;
}

.gratitude-form{
    text-align: center;
}


.gratitude{
    margin: 5px auto;
    background: white;
    color: #000000;
    display: flex;
    font-size: 1.2rem;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.gratitude li {
    flex: 1;
}

/* STYLING THE BUTTON ON THE TASK */
 
.delete_btn{
    padding: 0.5rem;
    background: #979696;
    color: white;
    border: none;
    margin-left: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
}


.delete_btn:active{
    background: #b65337;
}

.fa-trash{
    pointer-events: none;
}


/* DELETING THE TASKS */
.fall{
    transform: translateY(4rem) scale(0.4) rotateZ(20deg);
    opacity: 0;
}


/*fortune cookie creator */

.cookie-image{

    text-align: center;
}

#fortune-generator {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

/*header {
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}*/

.quotes {
  padding: 20px 50px;
  min-height: 200px;
}

.quote-text {
  padding-bottom: 20px;
  font-size: 25px;
  color: black;
}

.controls {
  width: 100%;
  padding: 20px 50px;
}

.button {
  display: block;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: 0 !important
}


.new-quote {
  background-color: black;
  margin-bottom: 15px;
}

.new-quote:hover {
  background-color: red;
}

.new-quote:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}









/* MEDIA QUERIES */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

div#small-device-text1,
div#small-device-text2,
div#small-device-text3{
    display: none;
}

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

div#small-device-text1,
div#small-device-text2,
div#small-device-text3{
    display: none;
}

input[type=text] {
    width: 100%;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

div#small-device-text1,
div#small-device-text2,
div#small-device-text3{
    display: none;
}

}